/UTooSeeApp/app/src/main/AndroidManifest.xml.orig
/UTooSeeApp/openCVLibrary344/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
/UTooSeeApp/openCVLibrary344/build/intermediates/merged_manifests/debug/processDebugManifest/merged/AndroidManifest.xml
/UTooSeeApp/openCVLibrary344/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
/UTooSeeApp/openCVLibrary344/build/intermediates/merged_manifests/debug/processDebugManifest/merged/AndroidManifest.xml
/UTooSeeApp/openCVLibrary344/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
/UTooSeeApp/openCVLibrary344/build/intermediates/merged_manifests/debug/processDebugManifest/merged/AndroidManifest.xml
/UTooSeeApp/openCVLibrary344/build/intermediates/merged_manifests/debug/processDebugManifest/merged/AndroidManifest.xml
