/UTooSeeApp/app/src/main/AndroidManifest.xml.orig
/UTooSeeApp/openCVLibrary344/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
/UTooSeeApp/openCVLibrary344/build/intermediates/merged_manifests/debug/processDebugManifest/merged/AndroidManifest.xml
/UTooSeeApp/openCVLibrary344/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
/UTooSeeApp/openCVLibrary344/build/intermediates/merged_manifests/debug/processDebugManifest/merged/AndroidManifest.xml
/UTooSeeApp/openCVLibrary344/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
/UTooSeeApp/openCVLibrary344/build/intermediates/merged_manifests/debug/processDebugManifest/merged/AndroidManifest.xml
/UTooSeeApp/openCVLibrary344/build/intermediates/merged_manifests/debug/processDebugManifest/merged/AndroidManifest.xml
/UTooSeeApp/openCVLibrary344/build/intermediates/incremental/compileDebugAidl/dependency.store
/UTooSeeApp/openCVLibrary344/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/UTooSeeApp/openCVLibrary344/build/intermediates/incremental/mergeDebugShaders/merger.xml
/UTooSeeApp/openCVLibrary344/build/intermediates/incremental/packageDebugAssets/merger.xml
/UTooSeeApp/openCVLibrary344/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
/UTooSeeApp/openCVLibrary344/build/intermediates/incremental/packageDebugResources/merger.xml
/UTooSeeApp/openCVLibrary344/build/intermediates/intermediate-jars/debug/classes.jar
/UTooSeeApp/openCVLibrary344/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/org/opencv/android/Camera2Renderer.class
/UTooSeeApp/openCVLibrary344/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/org/opencv/android/JavaCamera2View.class
/UTooSeeApp/openCVLibrary344/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/org/opencv/android/JavaCameraView.class
/UTooSeeApp/openCVLibrary344/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/org/opencv/engine/OpenCVEngineInterface$Stub$Proxy.class
/UTooSeeApp/openCVLibrary344/build/outputs/logs/manifest-merger-debug-report.txt
